footer
    .datos.container
        .areaFooter
            h2  Mensajes Recientes
                .contanedorFooter
                    p   30 de Enero de 2019
                    span Lorem Ipsum
                .contanedorFooter    
                    p   10 de Febrero de 2019
                    span Lorem Ipsum
                .contanedorFooter    
                    p   15 de Febrero de 2019
                    span Lorem Ipsum

        .areaFooter
            h2 Twetter Feed
                .contanedorFooter
                    p   30 de Enero de 2019
                    span Lorem Ipsum
                .contanedorFooter    
                    p   10 de Febrero de 2019
                    span Lorem Ipsum
                .contanedorFooter    
                    p   15 de Febrero de 2019
                    span Lorem Ipsum
        .areaFooter
            h2  Direccion
            .direccion
                p   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam fugit perferendis quisquam laboriosam quas sequi reprehenderit sapiente facere eligendi?
                ul
                    li  Moonshine St. 14/05 Light, Japan
                    li  +00 (123) 111 11 11
                    li  mail@example.com
    p.copy Copyright © 2019  All rights reserved | Design by Donald Schiffmann