<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href='https://fonts.googleapis.com/css?family=Marvel:400,700|Roboto:300,400', rel='stylesheet')
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
        title #{pagina}
    body
        include includes/header
        block contenido
        include includes/footer
         
