extends ../layout/index
block contenido
    h2.somos Quienes Somos

    .container.quienes
        img(src="../img/img4.jpg", alt="")
        .texto
            h4 Pedazo de clásico agregó humor, o palabras aleatorias que no parecen ni un poco creíbles.
            p El punto de usar here'orem Contenido muy whichbut la mayoría tiene paso de lorem ipsum, si necesita algo embarazosa escondido en el medio de texto. Todos los generadores de Lorem Ipsum haciendo de este el primer verdadero generan.
            p El punto de usar Lorem Ipsum es que tiene una forma más o menos 'contenido normal de aquí, el contenido here'orem Muy whichbut la mayoría tiene paso de lorem ipsum, es necesario asegurarse de que no es nada vergonzoso escondido en el Oriente de texto
            ul 
                li Por desgracia, con el fin de que todo lo andomised palabras lscelerisque.
                li Incluso las palabras volutpa andomised TBH cartón
                li Varios landitan vitaeb oscuro mamas palabras.
    .normal
        .container
            h3 Lorem Ipsum is that it has a moreless normal
            p Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet embarrassing hidden in the middle of text.
    .equipo
        .container
            h4 Conoce a nuestro equipo
            .personas
                .persona
                    img(src="../img/img5.jpg", alt="")
                    a(href="#") Maria Teresa
                    p generadores de Lorem Ipsum en Internet tienden a repetir trozos predefinidos cuando sea necesario
                .persona
                    img(src="../img/img6.jpg", alt="")
                    a(href="#") Donald Schiffmann
                    p generadores de Lorem Ipsum en Internet tienden a repetir trozos predefinidos cuando sea necesario
                .persona
                    img(src="../img/img7.jpg", alt="")
                    a(href="#") Sherly Bravo
                    p generadores de Lorem Ipsum en Internet tienden a repetir trozos predefinidos cuando sea necesario
                .persona
                    img(src="../img/img8.jpg", alt="")
                    a(href="#") Jeykel Silesky
                    p generadores de Lorem Ipsum en Internet tienden a repetir trozos predefinidos cuando sea necesario
    .especial
        .container
            h4 Nuestra Especialidad
            .espe
                .esp
                    h5 certificaciones
                    ul 
                        li Enteros porta Risus quis quam ligula contaminantes feugiat.
                        li Incluso cartón nibh Tortor
                        li Fusce vitae dolor sit amet varius blandit.
                        li Microondas miedo conveniencia, pero sólo las políticas.
                        li Ahora fin de semana o incluso a veces la propaganda;
                        li salsa de políticas simplemente ecológicos.
                        li La fotografía de los consumidores y viven en todo el país.
                
                .esp
                    h5 Nuestras habilidades
                    ul 
                        li Enteros porta Risus quis quam ligula contaminantes feugiat.
                        li Incluso cartón nibh Tortor
                        li Fusce vitae dolor sit amet varius blandit.
                        li Microondas miedo conveniencia, pero sólo las políticas.
                        li Ahora fin de semana o incluso a veces la propaganda;
                        li salsa de políticas simplemente ecológicos.
                        li La fotografía de los consumidores y viven en todo el país.

                .esp
                    h5 Nuestras tegnologias
                    ul 
                        li Enteros porta Risus quis quam ligula contaminantes feugiat.
                        li Incluso cartón nibh Tortor
                        li Fusce vitae dolor sit amet varius blandit.
                        li Microondas miedo conveniencia, pero sólo las políticas.
                        li Ahora fin de semana o incluso a veces la propaganda;
                        li salsa de políticas simplemente ecológicos.
                        li La fotografía de los consumidores y viven en todo el país.