extends ../layout/index
block contenido 
    .banner
        .container
            .slider
    .lorem   
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, optio blanditiis consequuntur, nostrum.         
    .icon
        a(href="#gallery") 
    .galeria
        .img
            h4 lorem Ipsum
            p  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        .img
            h4 lorem Ipsum
            p  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        .img
            h4 lorem Ipsum
            p  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    .container.proyectos
        h2 Proyectos
        p Lorem Ipsum se popularizó en el lanzamiento de las hojas de Letraset que contienen
    .container.proyectos1
        .proyecto
            img(src="../img/icon2.png", alt="")
            h3 Quas molestias except
            p praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate no providente
        .proyecto
            img(src="../img/icon3.png", alt="")
            h3 occaecati cupiusint
            p praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate no providente
        .proyecto
            img(src="../img/icon4.png", alt="")
            h3 Excepturi sint occa
            p praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate no providente
    .redes
        h2 Mantente conectado con nosotros
        p Lorem Ipsum se popularizó en el lanzamiento de las hojas de Letraset que contienen

    .iconos.container
        .facebook
            a(href="#")
                img(src="../img/icon1.png", alt="")
                p Facebook
        .twitter
            a(href="#")
                img(src="../img/icon5.png", alt="")
                p Twitter
        .pinterest
            a(href="#")
                img(src="../img/icon6.png", alt="")
                p Pinterest
        .google
            a(href="#")
                img(src="../img/icon7.png", alt="")
                p Google +